<h1>Welcome!</h1>

<%= @events %>

<h3>To Doz:</h3>
<ul>
  <li>Make API call using rails backend</li>
  <li>Install angular using bower</li>
  <li>Make API call using Angular</li>
  <li>Take input from form field to make API call</li>
  <li>Style it all pretty like with BS or Bourbon</li>
  <li>Eat Pizza</li>
</ul>